<div class="card-container">
  <md-card *ngFor="let dog of dogs">
    <img md-card-image [alt]="dog.name"
      src="https://material.angularjs.org/material2_assets/ngconf/{{dog.name}}.png"/>
    <md-card-title>{{dog.name}}</md-card-title>
    <md-card-content class="secondary">
      Lorem ipsum dolor....
    </md-card-content>
    <md-card-actions align="end">
      <button md-button color="primary">SNIFF</button>
      <button md-button color="primary">WOFF</button>
    </md-card-actions>
  </md-card>
</div>
